figure {
    margin-left: 0;
}

@mixin framed {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    box-shadow: 10px 10px 5px $shaddow-color;

    figcaption {
        background-color: #222;
        color: #fff;
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;
    }
}

.framed {
    @include framed;
}

.restricted {
    max-width: 220px;
}
