.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    background-color: $footer-color;
    padding: 0.25em;

    a {
        color: rgb(0, 0, 0);    
    }
    
    .social {
        font-size: 2rem;
    }
}
