.footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #222;
    background-color: $footer-color;
    padding: 0.25em;

    a {
        color: rgb(0, 0, 0);
         
        text-decoration: none;   
    }

    .social {
        font-size: 2rem;
    }
}
