.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    background-color: $footer-color;
    padding: 0.25em;
}

.footer a {
    color: #222;
    
}

.footer .social {
    font-size: 2rem;
}
