
.wrapper {
    margin: 0 auto;
    display: grid;
    border: 4px solid rgb(248, 7, 7);
    border-radius: 5px;
    background-color: rgb(179, 185, 204);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    column-gap: 10px;
    row-gap: 1em;
}

.box1 {
    border: 2px solid rgb(255, 0, 0);
    grid-column: 1/4;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
  
.box2 {
    border: 2px solid rgb(252, 10, 10);
    grid-column: 1;
    grid-row: 3/5;
}
