.header,
.site-header {
    display: flex;
    justify-content: space-between;
    background-color: $header-color;
}

.title,
.logo {
    padding: 1em;
}
/* .nav li {
    background-color: $background-color ;
}
 */
/* .nav li:first-child,
.nav li:last-child {
    background-color: rgb(125, 240, 10);
} */

.nav li a:hover {
    background-color: $background-color;
}
