.header,
.site-header {
    display: flex;
    justify-content: space-between;
    background-color: $header-color;
}

.title,
.logo {
    padding: 1em;
}

.nav li:hover {
    background-color: $body-background-color;
}

.nav li {
    flex-grow: 1;
}

.nav li a {
    text-decoration: none;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
