ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html {
    height: 100%;
}

/* Placement */

body {
    height: 100%;
    min-height: 1200px;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    padding: 1rem;
}
