ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html {
    height: 100%;
}

/* Placement */

body {
    height: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    background-color: $body-background-color;
}

.main {
    width: 80%;
    margin: 40px auto 20px;
    flex: 1 0 auto;
    padding: 1rem;
    background-color: $background-color;
}
