

@media (max-width: 1080px) {
    .black {
        width: 75%;
    }
}

@media (max-width: 1000px) {
    .landingpage {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .fullwidth {
        grid-column: 1/3;
    }
}

@media (max-width: 810px) {
    .title {
        padding: 1em 1em 1em 0;
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }

    .old-fashioned,
    .modern,
    .worst-ever {
        font-size: 1rem;
    }
}

@media (max-width: 660px) {
    .landingpage {
        grid-template-columns: 1fr;
    }

    .techcontainer {
        gap: 1rem;
    }

    .fullwidth {
        grid-column: 1/2;
    }
}
