


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4rem;
    color: $font-color;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.6em;
    font-weight: bold;
}

h1 {
    line-height: 1.8rem;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

html {
    font-size: 100%;
}

p {
    font-size: 1.25em;
    margin-bottom: 1.75rem; /* 1.4 * 1.25em vår baseline */
    max-width: 64rem;
    
}

li {
    font-size: 1.25em;
}

.title * {
    color: #111;
}

.title p {
    font-style: italic;
}
