$a: #403d36;
$b: #cab685;
$c: #bfb7a1;
$d: #50462c;
$e: #8c8676;





$font-color: $b;
$codecolor: $a;
$techlinkscolor: $c;
$techlinkscolorvisited: $e;
$codebackground: $b;
$background-color: $a;
$background-color-box: $b;
$body-background-color: $e;
$footer-color: $c;
$header-color: $c;
$shaddow-color: $d;
$main-font-size: 1rem;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;


