
$font-color: #000;
$codecolor: #000;
$codebackground: #f5f5f5;
$techlinkscolor: rgb(11, 11, 255);
$techlinkscolorvisited: rgb(211, 16, 211);
$background-color: #eefafd;
$background-color-box: #fff;
$footer-color: #a4eaff;
$header-color: #a4eaff;
$shaddow-color: rgb(134, 138, 139);
$main-font-size: 1rem;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
$body-background-color: #fff;
