$font-color: #000;
$background-color: #eefafd;
$footer-color: rgb(74, 213, 255);
$header-color: rgb(74, 234, 255);
$shaddow-color: rgb(134, 138, 139);
$main-font-size: 1rem;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
