{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <div class="techcontainer">
            <aside class="techlinks">
                {% for page in pages("technology") if page.id!=current_page.id %}
                        <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
                {% endfor %}
            </aside>
            <article class="techarticle">
                {{ content }}
            </article>
            
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
